<div id="page" class="front-page">
    <div class="front-page-wrapper">
        <h1 class="front-page-header">KAN.YE</h1>
        <p class="front-page-intro">Still developing what this could be.</p>
        <p class="front-page-cta">Interested in the domain?
            <a href="mailto:selbeezy@gmail.com">Give me an offer!</a>
        </p>
    </div>
</div>
